<!-- News Section -->
<section id="news" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Duyuru!</h2>
            <p>G-TÜRK İHA projesi 2022 TÜBİTAK Uluslararası Sabit Kanat İHA Yarışmasının kavramsal tasarım raporu
                aşamasını
                başarıyla
                tamamlamıştır. Hedeflerine durmadan azimle devam etmektedir.</p><br><br>
            <h2 id="dtv">Detaylı tasarım videomuz yayında!!</h2>
            <br>
            <div class="youtube-maps">
                <iframe width="" src="https://www.youtube.com/embed/kxb7fjayo08"
                    title="Uluslarası Sabit Kanat İHA Yarışması - G-TÜRK İHA Takımı" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen rel=0 showinfo=0></iframe>
            </div>


        </div>
    </div>
</section>