<!-- team Section -->
<section id="team" class="content-section text-center">
    <div class="team-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <img src="{{ site.baseurl }}/img/author.svg" width="0px" height="0px" ;">
                <h1>G-TÜRK TAKIMI</h1>
                <section>
                    <h3 style="text-align: start;">ELEKTRONİK EKİBİ</h3>
                    <ul>
                        <li style="align-items: center;">Elektronik devreler</li>
                        <li style="align-items: center;">Aviyonik</li>
                        <li style="align-items: center;">Elektrik Sistemleri</li>
                        <li style="align-items: center;">Yazılım</li>
                    </ul><br>
                    <a href="https://www.linkedin.com/in/muhammet-koc/">
                        <img src="{{ site.baseurl }}/img/muhammetkc.webp" width="150px" height="150px"
                            style="float: left;">
                        <p class="namefont"><br>Muhammet KOÇ</p>
                        <p class="lightfont" style="font-weight:lighter;">Elektronik Mühendisliği Öğrencisi</p>
                        <br><br><br>
                    </a><br><br>
                    <h3 style="text-align: start;">MEKANİK EKİBİ</h3>
                    <ul>
                        <li style="align-items: center;">Tasarım</li>
                        <li style="align-items: center;">Analiz</li>
                        <li style="align-items: center;">Katı modelleme</li>
                        <li style="align-items: center;">Uçuş mekaniği</li>
                        <li style="align-items: center;">İmalat</li>
                        <li style="align-items: center;">CFD</li>
                    </ul><br>
                    <a href="https://www.linkedin.com/in/muhammet-kılınç-3a5b5a221/">
                        <img src="{{ site.baseurl }}/img/muhammet.webp" width="150px" height="150px"
                            style="float: left;">
                        <p class="namefont"><br>Muhammet KILINÇ</p>
                        <p class="lightfont">Makina Mühendisliği Öğrencisi</p><br><br><br>
                    </a>
                    <a href="https://www.linkedin.com/in/mehmet-haluk-metin-32261b209/">
                        <img src="{{ site.baseurl }}/img/haluk.webp" width="150px" height="150px" style="float: right;">
                        <p class="namefont"><br>Mehmet Haluk METİN</p>
                        <p class="lightfont">Makina Mühendisliği Öğrencisi</p><br><br><br>
                    </a><br><br>
                    <h3 style="text-align: start;">YAZILIM EKİBİ</h3>
                    <ul>
                        <li style="align-items: center;">Görüntü işleme</li>
                        <li style="align-items: center;">Otopilot</li>
                    </ul><br>
                    <a href="https://www.linkedin.com/in/berkcan-n/">
                        <img src="{{ site.baseurl }}/img/berkcan.webp" width="150px" height="150px"
                            style="float: left;">
                        <p class="namefont"><br>Berkcan NARMOT</p>
                        <p class="lightfont">Makina Mühendisliği Öğrencisi</p><br><br><br>
                    </a>
                    <a href="https://www.linkedin.com/in/asametaslan-4867b61b9/">
                        <img src="{{ site.baseurl }}/img/samed.webp" width="150px" height="150px" style="float: right;">
                        <p class="namefont"><br>Abdulsamed ASLAN</p>
                        <p class="lightfont">Bilgisayar Mühendisliği Öğrencisi</p><br><br><br>
                    </a>
                </section>
            </div>
        </div>
    </div>
</section>